.btn-nav {
  font-size: 1.3rem;
  font-weight: 300;
  color: $white;
  border-radius: 1rem;
  padding: 1rem 2.9rem;
  margin: 0 0.1rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in;

  &:hover {
    color: $black-light;
    background-color: $white;
  }
}

.btn-withBorder {
  font-size: 1.5rem;
  font-weight: 300;
  color: $white;
  border: 2px solid $white;
  border-radius: 1rem;
  padding: 1.4rem 3rem;
  margin: 0 0.1rem;
  background-color: transparent;
  transition: background-color 0.3s ease-in;

  &:hover {
    color: $black-light;
    background-color: $white;
  }
}

.btn-withColor {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: $white;
  border-radius: 1rem;
  padding: 1.4rem 3rem;
  margin: 0 0.1rem;
  background: linear-gradient(
    90deg,
    #b918fa,
    #b420fa,
    #ae28fa,
    #a831fa,
    #a339fa,
    #9b44fa,
    #944efa,
    #8d58fa,
    #8860fa,
    #8367fa,
    #7d70fa,
    #767afb,
    #7083fb,
    #6a8cfc,
    #6594fc,
    #609bfc,
    #59a6fd,
    #54aefe,
    #4fb5fe,
    #59a6fd,
    #609bfc,
    #6594fc,
    #6a8cfc,
    #7083fb,
    #767afb,
    #7d70fa,
    #8367fa,
    #8860fa,
    #8d58fa,
    #944efa,
    #9b44fa,
    #a339fa,
    #a831fa,
    #ae28fa,
    #b420fa,
    #b918fa
  );
  background-size: 350%;
  animation: animate 7s linear infinite paused;

  &:hover {
    animation-play-state: running;
  }

  @keyframes animate {
    0% {
      background-position: 100% 0;
    }
    25% {
      background-position: 250% 0;
    }
    50% {
      background-position: 300% 0;
    }
    75% {
      background-position: 200% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
}
