.features {
  margin: 6rem 0;

  &__inner {
    padding: 3rem 0;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-content: center;

    & img {
      max-width: 350px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
    width: 70%;

    & h2 {
      font-size: 2.4rem;
      font-weight: 700;
      color: $white;
    }

    & p {
      margin-top: 2.1rem;
      font-size: 1.1rem;
      line-height: 3;
    }
  }

  &__link {
    margin-top: 3.66rem;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 0 2rem;
    width: 100%;
  }

  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 23%;
    box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #39394d;
      margin: 4.26rem 0 2rem 0;

      & h3 {
        margin-left: 1.5rem;
      }
    }

    &__content {
      padding: 0 2rem;
      line-height: 3;
      margin-bottom: 3rem;
    }
  }
}
