.features {
  margin: 1rem 0;

  @include _1170 {
    margin: 1rem 0 0 0;
  }

  &__inner {
    padding: 3rem 0;
    height: 100%;
    width: 100%;

    @include _1170 {
      padding: 0;
    }
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 5rem;

    @include _979 {
      padding-bottom: 3.5rem;
    }

    @include _600 {
      flex-direction: column;
    }
  }

  &__circle-image {
    width: 350px;

    @include _1170 {
      width: 300px;
    }

    @include _979 {
      width: 230px;
    }

    @include _768 {
      width: 200px;
    }

    @include _600 {
      width: 170px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6rem;
    width: 70%;

    @include _979 {
      padding-left: 4rem;
    }

    @include _768 {
      padding-left: 2rem;
    }

    @include _600 {
      width: 100%;
    }

    & h2 {
      font-size: 2.4rem;
      font-weight: 700;
      color: $white;

      @include _979 {
        font-size: 2rem;
      }
    }

    & p {
      margin-top: 2.1rem;
      line-height: 2.5;
      font-size: 1.4rem;
      font-weight: 400;
      color: $white;

      @include _1170 {
        font-size: 1.4rem;
        line-height: 1.5;
      }

      @include _979 {
        font-size: 1.2rem;
      }

      @include _600 {
        font-size: 1rem;
      }
    }
  }

  &__link {
    margin-top: 3.66rem;
  }

  &__slide-block {
    width: 100%;
    height: auto;
    position: relative;
  }

  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);

    @include _768 {
      max-width: 430px;
    }

    &__title {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #39394d;
      margin: 4.26rem 0 2rem 0;

      & h3 {
        margin-left: 1.5rem;
        font-size: 1.2rem;
      }
    }

    &__content {
      padding: 0 2rem;
      font-size: 1.4rem;
      line-height: 2;
      margin-bottom: 3rem;

      @include _1170 {
        font-size: 1rem;
      }
    }
  }
}
