.get-start {
  background-color: #262635;
  margin-top: 6rem;

  @include _1170 {
    margin-top: 1rem;
  }

  @include _480 {
    margin-top: 0;
  }

  &__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 0;

    @include _1170 {
      justify-content: space-around;
    }

    @include _600 {
      flex-direction: column;
      padding: 2rem 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3.2rem;
    width: 65%;

    @include _600 {
      width: 100%;
      padding-bottom: 1rem;
    }
  }

  &__title {
    font-size: 2.6rem;
    font-weight: 700;
    color: $white;

    @include _1170 {
      font-size: 2.4rem;
    }

    @include _979 {
      font-size: 2rem;
    }

    @include _480 {
      font-size: 1.5rem;
    }

    &-note {
      font-size: 1.5rem;
      font-weight: 300;
      color: $black-light;
      line-height: 1.5;
      margin-top: 1rem;

      @include _1170 {
        font-size: 1.4rem;
      }

      @include _979 {
        font-size: 1.2rem;
      }

      @include _600 {
        font-size: 1rem;
      }
      @include _480 {
        line-height: 1rem;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 35%;
    &-button {
      @extend .btn-withColor;
    }

    @include _600 {
      width: 100%;
      justify-content: center;
    }
  }
}
