.header {
  width: 100%;
  min-height: 13vh;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }  

  &__company {
    display: flex;
    align-items: center;
    &-icon {
      width: 5.66rem;
      height: 6.46rem;
    }
    &-name {
      margin-left: 0.7rem;
      display: inline-block;
      font-size: 1.7rem;
    }
  }

  &__nav {
    display: none;
    &-link {
      @extend .btn-nav
    }
  }

  &__mobile-nav {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    &-button, &-button::after, &-button::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 3px;
      background-color: $white;
      border-radius: 1rem;
    }

    &-button::after {
      content: '';
      display: block;      
      top: 10px;
    }

    &-button::before {
      content: '';
      display: block;
      top: 20px;
    }
  }
}
