.header {
  width: 100%;
  min-height: 13vh;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__company {
    display: flex;
    align-items: center;
    &-icon {
      width: 5.5rem;
      height: 6.46rem;

      @include _979 {
        width: 4.5rem;
      }
      @include _480 {
        width: 3rem;
      }
    }
    &-name {
      margin-left: 0.7rem;
      display: inline-block;
      font-size: 1.7rem;

      @include _979 {
        font-size: 1.3rem;
      }
    }
  }
}

.desktop-nav-menu {
  @include _1170 {
    display: none;
  }

  &__link {
    @extend .btn-nav;
  }
}

.mobile-nav {
  &__button {
    display: none;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;

    @include _1170 {
      display: block;
    }

    &--open,
    &--open::after,
    &--open::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 3px;
      background-color: $white;
      border-radius: 1rem;
    }

    &--open::after {
      content: "";
      display: block;
      top: 10px;
    }

    &--open::before {
      content: "";
      display: block;
      top: 20px;
    }
  }

  &-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: -250px;
    width: 250px;
    min-height: 100vh;
    padding-top: 5rem;
    transition: all 0.5s ease;
    z-index: 99;
    background-color: $black;
    @extend %black-box-shadow;

    &__button--close {
      position: absolute;
      width: 30px;
      height: 30px;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__link {
      margin: 2rem 0rem;
    }

    & a {
      @extend .btn-nav;
    }
  }

  &-menu.active {
    right: 0;
  }
}
