.intro {
  width: 100%;
  min-height: 87vh;

  &__inner {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    position: relative;

    @include _768 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include _480 {
      padding: 1rem 0 0 0;
    }
  }

  &__block {
    height: 200px;
    width: 100%;
    position: relative;

    @include _768 {
      height: 130px;
    }
  }

  &__triangle-image {
    position: absolute;
    left: 37%;
    top: 0;
    margin: 0 auto;
    width: 210px;

    @include _1170 {
      width: 180px;
    }
    @include _979 {
      width: 150px;
    }
    @include _768 {
      width: 130px;
    }
    @include _480 {
      width: 100px;
    }
  }

  &__link {
    display: flex;
    margin-top: 3.66rem;
    padding-bottom: 2rem;

    &-button--color {
      @extend .btn-withColor;
      margin-right: 2rem;

      @include _480 {
        margin: 0;
      }
    }

    &-button--white {
      @extend .btn-withBorder;
      @include _480 {
        margin-top: 1rem;
      }
    }

    @include _480 {
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
    }
  }

  &__title {
    font-size: 3.66rem;
    font-weight: 400;

    @include _1170 {
      font-size: 2.85rem;
    }
    @include _979 {
      font-size: 2.35rem;
    }
    @include _768 {
      margin-top: 2rem;
    }
    @include _480 {
      font-size: 2rem;
      margin-top: 0;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-weight: 400;
    color: $white;
    line-height: 2.5;
    margin-top: 2.1rem;
    width: 50%;

    @include _1170 {
      line-height: 1.5;
    }
    @include _979 {
      font-size: 1.2rem;
    }
    @include _768 {
      width: 70%;
    }
    @include _600 {
      font-size: 1rem;
    }
    @include _480 {
      width: 100%;
      margin-top: 1.5rem;
      line-height: 1.5;
    }
  }

  &__background-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 500px;
    z-index: -1;

    @include _1170 {
      width: 400px;
    }
    @include _979 {
      width: 350px;
    }
    @include _768 {
      display: none;
    }
  }
}
