.works {
  width: 100%;
  margin-top: 5rem;

  &__content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-right: 6rem;
    width: 100%;

    @include _979 {
      padding-right: 0;
    }

    @include _480 {
      flex-direction: column-reverse;
    }
  }

  &__triangle-image {
    width: 300px;

    @include _1170 {
      width: 200px;
    }

    @include _979 {
      width: 150px;
    }

    @include _480 {
      width: 100px;
    }
  }

  &__text {
    width: 70%;

    @include _979 {
      width: 80%;
    }

    @include _480 {
      width: 100%;
    }

    & h2 {
      font-size: 2.4rem;
      font-weight: 700;
      color: $white;

      @include _979 {
        font-size: 2rem;
      }

      @include _480 {
        font-size: 1.5rem;
      }
    }

    & p {
      margin-top: 2.1rem;
      font-size: 1.6rem;
      line-height: 1.5;

      @include _1170 {
        font-size: 1.4rem;
      }

      @include _979 {
        font-size: 1.2rem;
      }

      @include _600 {
        font-size: 1rem;
      }

      @include _480 {
        margin-top: 1rem;
      }
    }
  }

  &__block {
    min-height: 230px;

    @include _1170 {
      margin-top: 2rem;
    }
    &__image {
      height: 210px;
      position: relative;

      &:focus {
        outline: none;
      }

      & img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        width: 60%;
      }
    }
  }
}
