.main-sreen__lights, .main-sreen__consumption, .appliance, .mobile-nav-menu, .main-sreen, .questions__item {
  -webkit-box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);
}

.main-sreen__lights, .main-sreen__consumption, .appliance, .price-cards__switcher {
  border-radius: 1rem;
}

.main-sreen__lights, .main-sreen__consumption, .appliance {
  background-color: #20202c;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.btn-nav, .desktop-nav-menu__link, .mobile-nav-menu a {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 2.9rem;
  margin: 0 0.1rem;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.btn-nav:hover, .desktop-nav-menu__link:hover, .mobile-nav-menu a:hover {
  color: #66667e;
  background-color: #ffffff;
}

.btn-withBorder, .intro__link-button--white {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  padding: 1.4rem 3rem;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
  text-align: center;
}

.btn-withBorder:hover, .intro__link-button--white:hover {
  color: #66667e;
  background-color: #ffffff;
}

@media (max-width: 979px) {
  .btn-withBorder, .intro__link-button--white {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
  }
}

.btn-withColor, .intro__link-button--color, .design__button-features, .little-card__button,
.big-card__button, .get-start__link-button {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1.4rem 3rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#b918fa), color-stop(#b420fa), color-stop(#ae28fa), color-stop(#a831fa), color-stop(#a339fa), color-stop(#9b44fa), color-stop(#944efa), color-stop(#8d58fa), color-stop(#8860fa), color-stop(#8367fa), color-stop(#7d70fa), color-stop(#767afb), color-stop(#7083fb), color-stop(#6a8cfc), color-stop(#6594fc), color-stop(#609bfc), color-stop(#59a6fd), color-stop(#54aefe), color-stop(#4fb5fe), color-stop(#59a6fd), color-stop(#609bfc), color-stop(#6594fc), color-stop(#6a8cfc), color-stop(#7083fb), color-stop(#767afb), color-stop(#7d70fa), color-stop(#8367fa), color-stop(#8860fa), color-stop(#8d58fa), color-stop(#944efa), color-stop(#9b44fa), color-stop(#a339fa), color-stop(#a831fa), color-stop(#ae28fa), color-stop(#b420fa), to(#b918fa));
  background: linear-gradient(90deg, #b918fa, #b420fa, #ae28fa, #a831fa, #a339fa, #9b44fa, #944efa, #8d58fa, #8860fa, #8367fa, #7d70fa, #767afb, #7083fb, #6a8cfc, #6594fc, #609bfc, #59a6fd, #54aefe, #4fb5fe, #59a6fd, #609bfc, #6594fc, #6a8cfc, #7083fb, #767afb, #7d70fa, #8367fa, #8860fa, #8d58fa, #944efa, #9b44fa, #a339fa, #a831fa, #ae28fa, #b420fa, #b918fa);
  background-size: 350%;
  -webkit-animation: animate 7s linear infinite paused;
          animation: animate 7s linear infinite paused;
}

.btn-withColor:hover, .intro__link-button--color:hover, .design__button-features:hover, .little-card__button:hover,
.big-card__button:hover, .get-start__link-button:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes animate {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 250% 0;
  }
  50% {
    background-position: 300% 0;
  }
  75% {
    background-position: 200% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes animate {
  0% {
    background-position: 100% 0;
  }
  25% {
    background-position: 250% 0;
  }
  50% {
    background-position: 300% 0;
  }
  75% {
    background-position: 200% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@media (max-width: 979px) {
  .btn-withColor, .intro__link-button--color, .design__button-features, .little-card__button,
  .big-card__button, .get-start__link-button {
    font-size: 1.2rem;
    padding: 1.15rem 2.5rem;
  }
}

@media (max-width: 480px) {
  .btn-withColor, .intro__link-button--color, .design__button-features, .little-card__button,
  .big-card__button, .get-start__link-button {
    font-size: 1rem;
    padding: 0.7rem 2rem;
  }
}

@media (max-width: 480px) {
  .btn-swiper,
  .btn-swiper {
    display: none;
  }
}

.container {
  max-width: 1450px;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .container {
    padding: 0 1.5rem;
  }
}

.header {
  width: 100%;
  min-height: 13vh;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__company-icon {
  width: 5.5rem;
  height: 6.46rem;
}

@media (max-width: 979px) {
  .header__company-icon {
    width: 4.5rem;
  }
}

.header__company-name {
  margin-left: 0.7rem;
  display: inline-block;
  font-size: 1.7rem;
}

@media (max-width: 979px) {
  .header__company-name {
    font-size: 1.3rem;
  }
}

@media (max-width: 1170px) {
  .desktop-nav-menu {
    display: none;
  }
}

.mobile-nav__button {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1170px) {
  .mobile-nav__button {
    display: block;
  }
}

.mobile-nav__button--open, .mobile-nav__button--open::after, .mobile-nav__button--open::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1rem;
}

.mobile-nav__button--open::after {
  content: "";
  display: block;
  top: 10px;
}

.mobile-nav__button--open::before {
  content: "";
  display: block;
  top: 20px;
}

.mobile-nav-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  right: -250px;
  width: 250px;
  min-height: 100vh;
  padding-top: 5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 99;
  background-color: #21212e;
}

.mobile-nav-menu__button--close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.mobile-nav-menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav-menu__link {
  margin: 2rem 0rem;
}

.mobile-nav-menu.active {
  right: 0;
}

.intro {
  width: 100%;
  min-height: 87vh;
}

.intro__inner {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 768px) {
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .intro__inner {
    padding: 1rem 0 0 0;
  }
}

.intro__block {
  height: 200px;
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .intro__block {
    height: 130px;
  }
}

.intro__triangle-image {
  position: absolute;
  left: 37%;
  top: 0;
  margin: 0 auto;
  width: 210px;
}

@media (max-width: 1170px) {
  .intro__triangle-image {
    width: 180px;
  }
}

@media (max-width: 979px) {
  .intro__triangle-image {
    width: 150px;
  }
}

@media (max-width: 768px) {
  .intro__triangle-image {
    width: 130px;
  }
}

@media (max-width: 480px) {
  .intro__triangle-image {
    width: 100px;
  }
}

.intro__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.66rem;
  padding-bottom: 2rem;
}

.intro__link-button--color {
  margin-right: 2rem;
}

@media (max-width: 480px) {
  .intro__link-button--color {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .intro__link-button--white {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .intro__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
}

.intro__title {
  font-size: 3.66rem;
  font-weight: 400;
}

@media (max-width: 1170px) {
  .intro__title {
    font-size: 2.85rem;
  }
}

@media (max-width: 979px) {
  .intro__title {
    font-size: 2.35rem;
  }
}

@media (max-width: 768px) {
  .intro__title {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .intro__title {
    font-size: 2rem;
    margin-top: 0;
  }
}

.intro__text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.5;
  margin-top: 2.1rem;
  width: 50%;
}

@media (max-width: 1170px) {
  .intro__text {
    line-height: 1.5;
  }
}

@media (max-width: 979px) {
  .intro__text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .intro__text {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .intro__text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .intro__text {
    width: 100%;
    margin-top: 1.5rem;
    line-height: 1.5;
  }
}

.intro__background-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 500px;
  z-index: -1;
}

@media (max-width: 1170px) {
  .intro__background-image {
    width: 400px;
  }
}

@media (max-width: 979px) {
  .intro__background-image {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .intro__background-image {
    display: none;
  }
}

.works {
  width: 100%;
  margin-top: 5rem;
}

.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-right: 6rem;
  width: 100%;
}

@media (max-width: 979px) {
  .works__content {
    padding-right: 0;
  }
}

@media (max-width: 480px) {
  .works__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.works__triangle-image {
  width: 300px;
}

@media (max-width: 1170px) {
  .works__triangle-image {
    width: 200px;
  }
}

@media (max-width: 979px) {
  .works__triangle-image {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .works__triangle-image {
    width: 100px;
  }
}

.works__text {
  width: 70%;
}

@media (max-width: 979px) {
  .works__text {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .works__text {
    width: 100%;
  }
}

.works__text h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 979px) {
  .works__text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .works__text h2 {
    font-size: 1.5rem;
  }
}

.works__text p {
  margin-top: 2.1rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

@media (max-width: 1170px) {
  .works__text p {
    font-size: 1.4rem;
  }
}

@media (max-width: 979px) {
  .works__text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .works__text p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .works__text p {
    margin-top: 1rem;
  }
}

.works__block {
  min-height: 230px;
}

@media (max-width: 1170px) {
  .works__block {
    margin-top: 2rem;
  }
}

@media (max-width: 480px) {
  .works__block {
    margin-top: 0;
  }
}

.works__block__image {
  height: 210px;
  position: relative;
}

.works__block__image:focus {
  outline: none;
}

.works__block__image img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 60%;
}

.features {
  margin: 1rem 0;
}

@media (max-width: 1170px) {
  .features {
    margin: 1rem 0 0 0;
  }
}

.features__inner {
  padding: 3rem 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 1170px) {
  .features__inner {
    padding: 0;
  }
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-bottom: 5rem;
}

@media (max-width: 979px) {
  .features__content {
    padding-bottom: 3.5rem;
  }
}

@media (max-width: 600px) {
  .features__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__circle-image {
  width: 350px;
}

@media (max-width: 1170px) {
  .features__circle-image {
    width: 300px;
  }
}

@media (max-width: 979px) {
  .features__circle-image {
    width: 230px;
  }
}

@media (max-width: 768px) {
  .features__circle-image {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .features__circle-image {
    width: 170px;
  }
}

@media (max-width: 480px) {
  .features__circle-image {
    width: 100px;
  }
}

.features__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 6rem;
  width: 70%;
}

@media (max-width: 979px) {
  .features__text {
    padding-left: 4rem;
  }
}

@media (max-width: 768px) {
  .features__text {
    padding-left: 2rem;
  }
}

@media (max-width: 600px) {
  .features__text {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .features__text {
    padding: 0;
  }
}

.features__text h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 979px) {
  .features__text h2 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .features__text h2 {
    font-size: 1.5rem;
  }
}

.features__text p {
  margin-top: 2.1rem;
  line-height: 2.5;
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .features__text p {
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

@media (max-width: 979px) {
  .features__text p {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .features__text p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .features__text p {
    margin-top: 1rem;
  }
}

.features__link {
  margin-top: 3.66rem;
}

@media (max-width: 480px) {
  .features__link {
    margin-top: 2.5rem;
  }
}

.features__slide-block {
  width: 100%;
  height: auto;
  position: relative;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  -webkit-box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);
          box-shadow: -1px 2px 15px 4px rgba(0, 0, 0, 0.75);
}

@media (max-width: 768px) {
  .features__box {
    width: 430px;
  }
}

@media (max-width: 600px) {
  .features__box {
    width: 330px;
  }
}

@media (max-width: 480px) {
  .features__box {
    width: 300px;
  }
}

.features__box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-color: #39394d;
  margin: 4.26rem 0 2rem 0;
}

@media (max-width: 480px) {
  .features__box__title {
    margin: 2rem 0 1rem 0;
  }
}

@media (max-width: 480px) {
  .features__box__title img {
    width: 30px;
  }
}

.features__box__title h3 {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.features__box__content {
  padding: 0 2rem;
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 3rem;
}

@media (max-width: 1170px) {
  .features__box__content {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .features__box__content {
    padding: 0 1rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

.design {
  margin-top: 10rem;
}

.design__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

@media (max-width: 979px) {
  .design__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.design__sreens {
  width: 60%;
}

@media (max-width: 1440px) {
  .design__sreens {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 1170px) {
  .design__sreens {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media (max-width: 979px) {
  .design__sreens {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    width: 100%;
    margin-left: -2rem;
  }
}

@media (max-width: 768px) {
  .design__sreens {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
    height: 800px;
    margin-top: -10rem;
  }
}

@media (max-width: 600px) {
  .design__sreens {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    height: 650px;
    margin-top: -16.5rem;
    margin-left: -3.5rem;
  }
}

@media (max-width: 480px) {
  .design__sreens {
    -webkit-transform: scale(0.38);
            transform: scale(0.38);
    margin-left: -4.5rem;
    height: 550px;
  }
}

.design__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  padding-left: 7.5rem;
}

@media (max-width: 1170px) {
  .design__content {
    padding-left: 4.5rem;
  }
}

@media (max-width: 979px) {
  .design__content {
    width: 100%;
    padding-left: 0;
  }
}

.design__title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .design__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 979px) {
  .design__title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .design__title {
    font-size: 1.5rem;
  }
}

.design__description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #66667e;
  line-height: 1.5;
  margin-top: 3.6rem;
}

@media (max-width: 1170px) {
  .design__description {
    margin-top: 1rem;
  }
}

@media (max-width: 979px) {
  .design__description {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .design__description {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .design__description {
    line-height: 1;
  }
}

.design__link {
  margin-top: 3.66rem;
}

@media (max-width: 480px) {
  .design__link {
    margin-top: 2.5rem;
  }
}

.design__button-features {
  margin-top: 3rem;
}

.main-sreen {
  position: relative;
  width: 550px;
  margin: 0 auto;
  padding-bottom: 1.85rem;
}

.main-sreen__header {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: -webkit-gradient(linear, left top, left bottom, from(#b918fa), color-stop(#b420fa), color-stop(#ae28fa), color-stop(#a831fa), color-stop(#a339fa), color-stop(#9b44fa), color-stop(#944efa), color-stop(#8d58fa), color-stop(#8860fa), color-stop(#8367fa), color-stop(#7d70fa), color-stop(#767afb), color-stop(#7083fb), color-stop(#6a8cfc), color-stop(#6594fc), to(#609bfc));
  background: linear-gradient(#b918fa, #b420fa, #ae28fa, #a831fa, #a339fa, #9b44fa, #944efa, #8d58fa, #8860fa, #8367fa, #7d70fa, #767afb, #7083fb, #6a8cfc, #6594fc, #609bfc);
}

.main-sreen__left-side {
  width: 50%;
  text-align: center;
}

.main-sreen__right-side {
  width: 50%;
  text-align: center;
}

.main-sreen__title {
  font-size: 2.1rem;
  font-weight: 700;
  color: #ffffff;
  margin: 5rem 0 0 0;
}

.main-sreen__user-name {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  margin: 1rem 0 0 0;
}

.main-sreen__time {
  font-size: 2.1rem;
  font-weight: 700;
  color: #ffffff;
  margin: 5.4rem 0 0 0;
}

.main-sreen__lights {
  position: absolute;
  left: -110px;
  top: 250px;
  width: 450px;
}

.main-sreen__consumption {
  position: absolute;
  right: -190px;
  top: 140px;
  width: 380px;
  height: 370px;
}

.appliances {
  padding: 1rem 3.1rem;
  margin-top: 12.85rem;
}

.appliances__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appliances__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appliances__title {
  font-size: 1.6rem;
  font-weight: 400;
}

.appliances__link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #8563fc;
}

.appliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
  max-height: 100%;
  padding: 2rem 0 0 0;
  margin-top: 2.35rem;
}

.appliance__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2.1rem 2rem 2.1rem;
}

.appliance__power-icon {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00ec98;
}

.appliance__info {
  background-color: #39394d;
  padding: 1.15rem 2.1rem;
}

.appliance__device-name {
  font-size: 1.2rem;
  font-weight: 400;
  color: #ffffff;
}

.appliance__work-time {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #66667e;
}

.appliance__power-button {
  margin: 1.35rem 2.1rem;
}

.lights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.7rem 2rem;
}

.lights__title {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
}

.lights__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.lights__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lights__item-count {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
}

.lights__item-name {
  font-size: 1.1rem;
  font-weight: 400;
  color: #ffffff;
  margin-top: 1rem;
}

.lights__item-work-time {
  font-size: 1rem;
  font-weight: 400;
  color: #66667e;
  margin-top: 0.2rem;
}

.lights__description {
  font-size: 1rem;
  font-weight: 400;
  color: #66667e;
}

.consumption {
  padding: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.consumption__title {
  font-size: 1.7rem;
  font-weight: 400;
  color: #ffffff;
  background-color: #39394d;
  text-align: center;
  padding: 1rem 0;
}

.consumption__progress-bar {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.consumption__circle-box {
  width: 180px;
  height: 180px;
}

.consumption__circle--green {
  stroke: #00ec98;
  stroke-width: 10px;
  fill: transparent;
  stroke-linecap: round;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: stroke-dashoffset 0.5sec;
  transition: stroke-dashoffset 0.5sec;
}

.consumption__circle--black {
  stroke: #66667e;
  stroke-width: 2px;
  fill: transparent;
  stroke-linecap: round;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.consumption__info {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.consumption__percent-number {
  font-size: 3.4rem;
  font-weight: 400;
  color: #ffffff;
}

.consumption__percent {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffff;
}

.price-cards__inner {
  margin-top: 5rem;
}

@media (max-width: 480px) {
  .price-cards {
    margin-top: 2rem;
  }
}

.price-cards__rectangular-image {
  width: 350px;
}

@media (max-width: 1170px) {
  .price-cards__rectangular-image {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .price-cards__rectangular-image {
    width: 170px;
  }
}

@media (max-width: 480px) {
  .price-cards__rectangular-image {
    width: 100px;
  }
}

.price-cards__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 27rem;
}

@media (max-width: 1170px) {
  .price-cards__header {
    padding-top: 14rem;
  }
}

@media (max-width: 979px) {
  .price-cards__header {
    padding-top: 16rem;
  }
}

@media (max-width: 480px) {
  .price-cards__header {
    padding-top: 2rem;
  }
}

.price-cards__title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .price-cards__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 979px) {
  .price-cards__title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .price-cards__title {
    font-size: 1.5rem;
  }
}

.price-cards__title-note {
  font-size: 1.4rem;
  font-weight: 300;
  color: #66667e;
  margin-top: 2rem;
  line-height: 1.5;
}

@media (max-width: 1170px) {
  .price-cards__title-note {
    margin-top: 1rem;
  }
}

@media (max-width: 979px) {
  .price-cards__title-note {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .price-cards__title-note {
    font-size: 1rem;
    line-height: 1;
  }
}

.price-cards__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 310px;
  height: 60px;
  border: 1px solid #ffffff;
  padding: 1rem 3.2rem;
  margin-top: 2rem;
}

@media (max-width: 1170px) {
  .price-cards__switcher {
    margin-top: 1rem;
    height: 45px;
  }
}

@media (max-width: 480px) {
  .price-cards__switcher {
    height: 30px;
  }
}

.price-cards__switcher-separator {
  height: 30px;
  border-left: 1px solid #ffffff;
}

@media (max-width: 480px) {
  .price-cards__switcher-separator {
    height: 17px;
  }
}

.price-cards__switcher-btn {
  font-size: 1.3rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 979px) {
  .price-cards__switcher-btn {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .price-cards__switcher-btn {
    font-size: 1rem;
  }
}

.price-cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.5rem;
}

@media (max-width: 1170px) {
  .price-cards__container {
    margin-top: -3.5rem;
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media (max-width: 979px) {
  .price-cards__container {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: -2.5rem;
  }
}

@media (max-width: 768px) {
  .price-cards__container {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
}

.little-card,
.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  padding: 3.7rem 0;
}

@media (max-width: 768px) {
  .little-card,
  .big-card {
    width: 85%;
    padding: 0 0 3rem 0;
  }
}

@media (max-width: 480px) {
  .little-card,
  .big-card {
    padding: 0 0 2rem 0;
  }
}

.little-card__header,
.big-card__header {
  width: 100%;
  background-color: #39394d;
  text-align: center;
  padding: 1rem 0;
}

.little-card__title,
.big-card__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .little-card__title,
  .big-card__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 979px) {
  .little-card__title,
  .big-card__title {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .little-card__title,
  .big-card__title {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .little-card__title,
  .big-card__title {
    font-size: 1.35rem;
  }
}

.little-card__title-note, .little-card__price-note,
.big-card__title-note,
.big-card__price-note {
  font-size: 1.3rem;
  font-weight: 300;
  color: #66667e;
  margin-top: 0.4rem;
}

@media (max-width: 979px) {
  .little-card__title-note, .little-card__price-note,
  .big-card__title-note,
  .big-card__price-note {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .little-card__title-note, .little-card__price-note,
  .big-card__title-note,
  .big-card__price-note {
    font-size: 1rem;
  }
}

.little-card__price,
.big-card__price {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 1.1rem;
}

@media (max-width: 1170px) {
  .little-card__price,
  .big-card__price {
    font-size: 4.2rem;
  }
}

@media (max-width: 979px) {
  .little-card__price,
  .big-card__price {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  .little-card__price,
  .big-card__price {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  .little-card__price,
  .big-card__price {
    font-size: 1.5rem;
  }
}

.little-card__description,
.big-card__description {
  font-size: 1.3rem;
  font-weight: 300;
  color: #66667e;
  line-height: 2;
  margin: 3.2rem 4.5rem;
}

@media (max-width: 1170px) {
  .little-card__description,
  .big-card__description {
    margin: 1.2rem 2.5rem;
  }
}

@media (max-width: 979px) {
  .little-card__description,
  .big-card__description {
    margin: 1rem 1.5rem;
  }
}

@media (max-width: 768px) {
  .little-card__description,
  .big-card__description {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .little-card__description,
  .big-card__description {
    margin: 0.5rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .little-card__description,
  .big-card__description {
    line-height: 1.5;
  }
}

.little-card__link,
.big-card__link {
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .little-card__link,
  .big-card__link {
    margin-top: 1.2rem;
  }
}

.little-card--left {
  -webkit-box-shadow: -13px 0px 19px 5px rgba(0, 0, 0, 0.75);
          box-shadow: -13px 0px 19px 5px rgba(0, 0, 0, 0.75);
}

.little-card--right {
  -webkit-box-shadow: 13px 0px 19px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 13px 0px 19px 5px rgba(0, 0, 0, 0.75);
}

.big-card {
  width: 40%;
  -webkit-box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 14px 6px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

@media (max-width: 768px) {
  .big-card {
    width: 100%;
    margin: 2rem 0;
  }
}

@media (max-width: 480px) {
  .big-card {
    margin: 1rem 0;
  }
}

.questions__inner {
  margin-top: 12rem;
}

@media (max-width: 1170px) {
  .questions__inner {
    margin-top: 8rem;
  }
}

@media (max-width: 979px) {
  .questions__inner {
    margin-top: 6rem;
  }
}

@media (max-width: 1170px) {
  .questions__triangle-image {
    width: 200px;
  }
}

@media (max-width: 979px) {
  .questions__triangle-image {
    width: 150px;
  }
}

@media (max-width: 600px) {
  .questions__triangle-image {
    width: 130px;
  }
}

@media (max-width: 480px) {
  .questions__triangle-image {
    width: 100px;
  }
}

.questions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

@media (max-width: 1170px) {
  .questions__header {
    margin-top: 4rem;
  }
}

@media (max-width: 979px) {
  .questions__header {
    margin-top: 3rem;
  }
}

@media (max-width: 600px) {
  .questions__header {
    margin-top: 2rem;
  }
}

.questions__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .questions__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 979px) {
  .questions__title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .questions__title {
    font-size: 1.5rem;
  }
}

.questions__title-note {
  font-size: 1.4rem;
  font-weight: 400;
  color: #66667e;
  margin-top: 2rem;
  line-height: 1;
}

@media (max-width: 1170px) {
  .questions__title-note {
    margin-top: 1rem;
  }
}

@media (max-width: 979px) {
  .questions__title-note {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .questions__title-note {
    font-size: 1rem;
  }
}

.questions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 5.7rem;
}

@media (max-width: 1440px) {
  .questions__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1170px) {
  .questions__items {
    margin-top: 2.7rem;
  }
}

.questions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.questions__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media (max-width: 1170px) {
  .questions__item {
    max-width: 600px;
    margin-bottom: 1rem;
  }
}

.questions__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  min-height: 90px;
}

@media (max-width: 1170px) {
  .questions__body {
    min-height: 70px;
  }
}

@media (max-width: 480px) {
  .questions__body {
    min-height: 50px;
  }
}

.questions__question-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: #ffffff;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

@media (max-width: 979px) {
  .questions__question-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .questions__question-text {
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .questions__question-text {
    font-size: 1rem;
    margin: 1rem;
  }
}

.questions__toggle-button {
  position: relative;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  min-height: 100%;
  background-color: #39394d;
}

.questions__toggle-icon, .questions__toggle-icon::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -2px;
  margin-left: -17px;
  width: 34px;
  height: 4px;
  background-color: #00ec98;
}

@media (max-width: 979px) {
  .questions__toggle-icon, .questions__toggle-icon::before {
    margin-top: -1px;
    margin-left: -13px;
    width: 26px;
    height: 2px;
  }
}

.questions__toggle-icon::before {
  content: "";
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.questions__toggle-icon.open::before {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

.questions__answer {
  max-width: 650px;
  height: auto;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out;
}

.questions__answer.open {
  max-height: 250px;
}

.questions__answer-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #66667e;
  line-height: 2;
  padding: 2rem;
}

@media (max-width: 1170px) {
  .questions__answer-text {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    line-height: 1.5;
  }
}

@media (max-width: 768px) {
  .questions__answer-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .questions__answer-text {
    line-height: 1;
    padding: 1rem;
  }
}

.get-start {
  background-color: #262635;
  margin-top: 6rem;
}

@media (max-width: 1170px) {
  .get-start {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .get-start {
    margin-top: 0;
  }
}

.get-start__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.2rem 0;
}

@media (max-width: 1170px) {
  .get-start__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .get-start__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }
}

.get-start__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3.2rem;
  width: 65%;
}

@media (max-width: 600px) {
  .get-start__header {
    width: 100%;
    padding-bottom: 1rem;
  }
}

.get-start__title {
  font-size: 2.6rem;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1170px) {
  .get-start__title {
    font-size: 2.4rem;
  }
}

@media (max-width: 979px) {
  .get-start__title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .get-start__title {
    font-size: 1.5rem;
  }
}

.get-start__title-note {
  font-size: 1.5rem;
  font-weight: 300;
  color: #66667e;
  line-height: 1.5;
  margin-top: 1rem;
}

@media (max-width: 1170px) {
  .get-start__title-note {
    font-size: 1.4rem;
  }
}

@media (max-width: 979px) {
  .get-start__title-note {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .get-start__title-note {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .get-start__title-note {
    line-height: 1rem;
  }
}

.get-start__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 35%;
}

@media (max-width: 600px) {
  .get-start__link {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer {
  margin: 7rem 0;
}

@media (max-width: 768px) {
  .footer {
    margin: 3rem 0 5rem 0;
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 768px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__about {
  width: 50%;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
  color: #66667e;
  padding-right: 5rem;
}

@media (max-width: 979px) {
  .footer__about {
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  .footer__about {
    width: 100%;
    padding-right: 0;
  }
}

.footer__links {
  width: 15%;
}

@media (max-width: 768px) {
  .footer__links {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}

.footer__links h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 979px) {
  .footer__links h2 {
    font-size: 1.2rem;
  }
}

.footer__links ul {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .footer__links ul {
    margin-top: .5rem;
  }
}

.footer__links ul li {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
  color: #66667e;
}

@media (max-width: 979px) {
  .footer__links ul li {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.footer__contact {
  width: 15%;
}

@media (max-width: 768px) {
  .footer__contact {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }
}

.footer__contact h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 979px) {
  .footer__contact h2 {
    font-size: 1.2rem;
  }
}

.footer__contact ul {
  margin-top: 1rem;
}

.footer__contact ul li {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2;
  color: #66667e;
}

@media (max-width: 979px) {
  .footer__contact ul li {
    font-size: 1rem;
    line-height: 1.5;
  }
}

.footer__media-links {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .footer__media-links {
    width: 100%;
    padding: 1rem 0;
  }
}

.footer__media-links h2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 979px) {
  .footer__media-links h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .footer__media-links h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footer__media-links ul {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .footer__media-links ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__media-links ul li {
  margin-left: 0.6rem;
}

@media (max-width: 979px) {
  .footer__media-links ul li a img {
    width: 30px;
  }
}

.footer__copyright {
  margin-top: 1rem;
}

@media (max-width: 979px) {
  .footer__copyright {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .footer__copyright {
    margin-top: 1rem;
    text-align: center;
  }
}

body {
  font-family: "Muli", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: #21212e;
}
/*# sourceMappingURL=style.css.map */